@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*----variablecolor----*/
/*----extend----*/
main .hero h1, .redes h2, main .servicios, main .conociendopack h2, .informativo .info-poder h1, main .perfil-contadoras, main .condiciones, main .aclaracioneslegales h2 {
  display: flex;
  justify-content: center; }

main .distinciondeservicios p {
  display: flex;
  justify-content: left; }

header .logoinicial {
  display: flex;
  justify-content: center; }

header img {
  width: 600px;
  height: auto; }

header .navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0%; }
  header .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 200; }

/*--------main index--------*/
main .hero h1 {
  color: #b4dddc;
  font-family: 'Fredoka', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  margin-top: 4rem; }

main .hero p {
  font-family: 'Fredoka', sans-serif;
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  margin-right: 8rem;
  margin-bottom: 1rem;
  margin-left: 8rem;
  display: flex;
  align-items: center; }

.redes h2 {
  color: #C7BBDD;
  font-family: 'Fredoka', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem; }

.redes div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .redes div a img {
    width: 300px;
    height: auto;
    border: #b4dddc solid;
    padding: 1rem;
    transition-property: width;
    transition-duration: 1s; }
    .redes div a img:hover {
      width: 320px; }

/*--------main  servicios--------*/
main .presentacionservice {
  background-image: url("../image/pexels-cup-of-couple-6177607.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-size: 100%;
  background-position: bottom;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0%; }

main .servicios {
  flex-direction: row;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: #b4dddc;
  padding-top: 4rem;
  margin-bottom: 2rem; }

main .conociendopack h2 {
  margin-bottom: 1rem;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #C7BBDD; }

main .conociendopack p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: 'Fredoka', sans-serif;
  color: white;
  padding-left: 5em;
  padding-right: 5em; }

main .distinciondeservicios li {
  display: inline-block;
  border-radius: 10px;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: none;
  font-family: 'Fredoka', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: white;
  background-color: #F7C6C6;
  padding: 0.1em; }

main .distinciondeservicios p {
  margin-left: 4rem;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/*--------main noticias--------*/
.informativo {
  background-image: url("../image/papel-arrugado.jpeg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 20px; }
  .informativo .info-poder h1 {
    padding-top: 3rem;
    font-family: 'Fredoka', sans-serif;
    font-size: 3.5rem;
    font-weight: 200;
    color: #b4dddc; }
  .informativo .info-poder p {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center; }
  .informativo .diarios {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .informativo .diarios a img {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      width: 200px;
      height: auto;
      border: solid;
      color: white;
      transition-property: width;
      transition-duration: 1s; }
      .informativo .diarios a img:hover {
        width: 230px; }

/*--------main nosotras--------*/
main .perfil-contadoras {
  font-family: 'Fredoka', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: #b4dddc;
  margin-top: 3rem;
  margin-bottom: 2rem; }

main section .perfil-contadoratroiani {
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  margin-left: 2rem;
  color: #F7C6C6; }

main section .separacion {
  display: flex;
  flex-direction: row; }
  main section .separacion div img {
    width: 300px;
    height: 300px;
    margin-left: 2rem;
    box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
    -webkit-box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
    -moz-box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear; }
    main section .separacion div img:hover {
      width: 310px;
      height: 310px; }
  main section .separacion p {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    background-color: #C7BBDD;
    border-radius: 5px;
    padding: 3em;
    color: whitesmoke; }

main section .perfil-contadoralema {
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  margin-top: 1rem;
  margin-right: 2rem;
  color: #F7C6C6; }

main section .segundaseparacion {
  display: flex;
  flex-direction: row-reverse; }
  main section .segundaseparacion div img {
    width: 300px;
    height: 300px;
    margin-right: 2rem;
    box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
    -webkit-box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
    -moz-box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear; }
    main section .segundaseparacion div img:hover {
      width: 310px;
      height: 310px; }
  main section .segundaseparacion p {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    background-color: #C7BBDD;
    border-radius: 5px;
    padding: 3em;
    color: whitesmoke; }

/*--------main condiciones--------*/
main .condiciones {
  color: #b4dddc;
  font-family: 'Fredoka', sans-serif;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 200;
  margin-top: 2rem;
  margin-bottom: 2rem; }

main .aclaracioneslegales h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: #F7C6C6; }

main .aclaracioneslegales h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2.5rem;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  color: #C7BBDD; }

main .aclaracioneslegales p {
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/*--------footer--------*/
.grid-container {
  margin-top: 2em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  border-style: solid;
  color: #b4dddc;
  background-color: #C7BBDD;
  display: grid;
  grid-template-rows: 70px 100px 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "contacto diseño" "informacion indiseño" "frase frase ";
  grid-area: diseño; }
  .grid-container .grid-contacto {
    grid-area: contacto; }
    .grid-container .grid-contacto p {
      color: white;
      text-decoration: none;
      font-family: 'Fredoka', sans-serif;
      font-weight: 300;
      font-size: 2em;
      margin-left: 1em;
      margin-bottom: 0%; }
  .grid-container .grid-info {
    grid-area: informacion; }
    .grid-container .grid-info li {
      margin-left: 1.5rem;
      font-style: normal;
      font-family: 'Fredoka', sans-serif;
      color: white;
      font-size: 1.5rem;
      list-style: circle;
      font-weight: 300; }
  .grid-container .grid-diseño {
    display: flex;
    justify-content: right;
    margin-right: 1em; }
  .grid-container img {
    width: 200px;
    height: 200px;
    margin-right: 3em; }

.grid-frase {
  grid-area: frase; }
  .grid-frase p {
    font-weight: 200;
    font-size: 1.5rem;
    font-family: 'Fredoka', sans-serif;
    color: white;
    display: flex;
    justify-content: end;
    padding-right: 1rem; }

/*----------media querys header tablet -------*/
@media screen and (max-width: 750px) {
  .logoinicial img {
    width: 500px;
    height: auto; } }

/*----------media querys index tablet-------*/
@media screen and (max-width: 750px) {
  main .hero h1 {
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em; }
  main .hero p {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em; }
  .redes h2 {
    font-size: 2em;
    margin-top: 0.5em;
    padding: 0%;
    margin-left: 1em; }
  .redes div a img {
    width: 210px;
    height: auto;
    margin-bottom: 1em;
    transition-property: width;
    transition-duration: 1s;
    padding: 0.5rem;
    border: #b4dddc solid;
    margin-bottom: 0%; }
    .redes div a img:hover {
      width: 215px; } }

/*----------media querys footer tablet-------*/
@media screen and (max-width: 750px) {
  .grid-container {
    grid-template-rows: 50px 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "contacto diseño" "informacion diseño" "frase frase"; }
    .grid-container .grid-contacto {
      grid-area: contacto; }
      .grid-container .grid-contacto p {
        font-size: 1.3em;
        margin-bottom: 0%;
        margin-top: 0%; }
    .grid-container .grid-info ul li {
      font-size: 1.3em;
      margin-left: 1em;
      margin-bottom: 0%; }
    .grid-container .grid-diseño img {
      width: 180px;
      height: 180px;
      margin-right: 1rem;
      margin-bottom: 1em; }
    .grid-container .grid-frase p {
      display: flex;
      justify-content: right;
      font-size: 1em; } }

/*----------media querys servicios tablet-------*/
@media screen and (max-width: 750px) {
  main .presentacionservice {
    background-image: url("../image/pexels-cup-of-couple-6177607.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-size: 100%;
    background-position: bottom;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0%; }
  main .servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3rem;
    font-weight: 380;
    color: #b4dddc;
    padding-top: 2rem;
    margin-bottom: 1.5rem; }
  main .conociendopack h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8rem;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3rem;
    font-weight: 180;
    color: #C7BBDD; }
  main .conociendopack p {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Fredoka', sans-serif;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem; }
  main .distinciondeservicios li {
    display: inline-block;
    border-radius: 12px;
    margin-left: 2rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    list-style: none;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    color: white;
    background-color: #F7C6C6;
    padding: 0.1em; }
  main .distinciondeservicios p {
    display: flex;
    justify-content: left;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; } }

/*----------media querys noticias tablet-------*/
@media screen and (max-width: 750px) {
  .informativo {
    background-image: url("../image/papel-arrugado.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 20px; }
    .informativo .info-poder h1 {
      padding-top: 3rem;
      font-family: 'Fredoka', sans-serif;
      font-size: 2.5em;
      font-weight: 200;
      color: #b4dddc;
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .informativo .info-poder p {
      font-family: 'Fredoka', sans-serif;
      font-size: 1rem;
      font-weight: 100;
      margin-top: 1.5rem;
      margin-left: 4rem;
      margin-right: 4rem;
      margin-bottom: 1.5rem;
      color: white; }
    .informativo .diarios {
      display: inline-block;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap; }
      .informativo .diarios a img {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        width: 100px;
        height: auto;
        border: solid;
        color: white;
        transition-property: width;
        transition-duration: 1s; }
        .informativo .diarios a img:hover {
          width: 120px; } }

/*----------media querys nosotras tablet-------*/
@media screen and (max-width: 750px) {
  main .perfil-contadoras {
    display: flex;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #b4dddc;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  main section .perfil-contadoratroiani {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    margin-left: 2rem;
    color: #F7C6C6; }
  main section .separacion {
    display: flex;
    flex-direction: column; }
    main section .separacion div {
      background-color: #C7BBDD;
      margin-left: 2rem;
      margin-right: 2rem;
      border-radius: 5px; }
      main section .separacion div img {
        width: 200px;
        height: 200px;
        margin-left: 2rem;
        margin-bottom: 1.5rem;
        box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
        -webkit-box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
        -moz-box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: linear; }
        main section .separacion div img:hover {
          width: 210px;
          height: 210px; }
    main section .separacion p {
      font-family: 'Fredoka', sans-serif;
      font-size: 1rem;
      margin-top: 1.5rem;
      margin-right: 2rem;
      margin-left: 2rem;
      background-color: #C7BBDD;
      border-radius: 5px;
      padding: 1em;
      color: whitesmoke; }
  main section .perfil-contadoralema {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Fredoka', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
    margin-right: 2rem;
    color: #F7C6C6; }
  main section .segundaseparacion {
    display: flex;
    flex-direction: column; }
    main section .segundaseparacion div {
      background-color: #C7BBDD;
      margin-left: 2rem;
      margin-right: 2rem;
      border-radius: 5px;
      display: flex;
      justify-content: right; }
      main section .segundaseparacion div img {
        width: 200px;
        height: 200px;
        margin-left: 2rem;
        box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
        -webkit-box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
        -moz-box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: linear;
        margin-bottom: 1.5rem; }
        main section .segundaseparacion div img:hover {
          width: 210px;
          height: 210px; }
    main section .segundaseparacion p {
      font-family: 'Fredoka', sans-serif;
      font-size: 1rem;
      margin-top: 1rem;
      margin-right: 2rem;
      margin-left: 2rem;
      background-color: #C7BBDD;
      border-radius: 5px;
      padding: 3em;
      color: whitesmoke; } }

/*----------media query condiciones tablet-------*/
@media screen and (max-width: 750px) {
  main .condiciones {
    color: #b4dddc;
    font-family: 'Fredoka', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 200;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  main .aclaracioneslegales h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: #F7C6C6; }
  main .aclaracioneslegales h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3em;
    font-weight: 350;
    color: #C7BBDD; }
  main .aclaracioneslegales p {
    display: flex;
    justify-content: left;
    margin-left: 2rem;
    margin-right: 3rem;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; } }

/*----------media querys header mobile -------*/
@media screen and (max-width: 450px) {
  .logoinicial img {
    width: 300px;
    height: auto; } }

/*----------media querys index mobile-------*/
@media screen and (max-width: 450px) {
  main .hero h1 {
    font-size: 1.5em;
    margin-left: 1.8em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 0%; }
  main .hero p {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.9em;
    margin-top: 1em; }
  .redes h2 {
    font-size: 1.5em;
    margin-top: 0.5em;
    padding: 0%;
    margin-left: 1em; }
  .redes div a img {
    width: 150px;
    height: auto;
    margin-bottom: 1em;
    transition-property: width;
    transition-duration: 0.5s; }
    .redes div a img:hover {
      width: 155px; } }

/*----------media querys servicios mobile -------*/
@media screen and (max-width: 450px) {
  main .presentacionservice {
    background-image: url("../image/pexels-cup-of-couple-6177607.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-size: 100%;
    background-position: bottom;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0%; }
  main .servicios {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: #b4dddc;
    padding-top: 1.3em; }
  main section .conociendopack h2 {
    margin-bottom: 1rem;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    color: #F7C6C6; }
  main section .conociendopack p {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.9em;
    font-family: 'Fredoka', sans-serif;
    padding: 0%; }
  main section .distinciondeservicios li {
    margin-left: 0%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: none;
    font-family: 'Fredoka', sans-serif;
    font-size: 1em;
    font-weight: 200;
    color: #F7C6C6;
    display: flex;
    justify-content: left; }
  main section .distinciondeservicios p {
    margin-left: 1rem;
    margin-right: 4rem;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; } }

/*----------media querys footer mobile-------*/
@media screen and (max-width: 450px) {
  .grid-container {
    grid-template-rows: 30px auto auto 25px;
    grid-template-columns: 1fr;
    grid-template-areas: "contacto" "informacion" "diseño" "frase"; }
    .grid-container .grid-contacto {
      font-size: 0.7em; }
    .grid-container .grid-info ul li {
      font-size: 0.9em;
      margin-left: 0.1em; }
    .grid-container .grid-diseño {
      display: flex;
      justify-content: center; }
      .grid-container .grid-diseño img {
        width: 100px;
        height: auto;
        margin: 0%; }
    .grid-container .grid-frase p {
      display: flex;
      justify-content: center;
      font-size: 0.9em; } }

/*----------media querys noticias mobile-------*/
@media screen and (max-width: 450px) {
  .informativo .info-poder h1 {
    text-align: center;
    font-size: 1.8em; }
  .informativo .info-poder p {
    font-size: 1em; }
  .informativo .diarios {
    flex-direction: column;
    align-items: center; }
    .informativo .diarios a img {
      width: 150px;
      height: auto;
      padding: 1rem;
      margin-bottom: 10px;
      transition-property: width;
      transition-duration: 1s; }
      .informativo .diarios a img:hover {
        width: 160px; } }

/*----------media querys nosotras mobile-------*/
@media screen and (max-width: 450px) {
  main .perfil-contadoras {
    text-align: center;
    font-size: 2em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1em;
    margin-right: 1em; }
  main section .perfil-contadoratroiani {
    font-size: 2em; }
  main section .separacion {
    flex-direction: column; }
    main section .separacion img {
      width: 230px;
      height: auto; }
    main section .separacion p {
      font-size: 1em; }
  main section .perfil-contadoralema {
    display: flex;
    justify-content: right;
    margin-left: 0.5em;
    font-size: 2em; }
  main section .segundaseparacion {
    flex-direction: column; }
  main section div img {
    width: 230px;
    height: auto;
    margin-left: 1rem; }
  main section div p {
    font-size: 1em; } }

/*----------media querys condiciones mobile-------*/
@media screen and (max-width: 450px) {
  main .condiciones {
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 2.2em;
    font-style: normal;
    font-weight: 200;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  main .aclaracioneslegales h2 {
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
    color: #F7C6C6; }
  main .aclaracioneslegales h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    color: #C7BBDD; }
  main .aclaracioneslegales p {
    display: flex;
    justify-content: left;
    margin-left: 4em;
    margin-right: 4em;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; } }
