@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

header .logoinicial {
  display: flex;
  justify-content: center; }

header img {
  width: 600px;
  height: auto; }

header .navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0%; }
  header .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 200; }

/*--------main index--------*/
main .hero h1 {
  color: #B4DDDC;
  font-family: 'Fredoka', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  display: flex;
  justify-content: center;
  margin-top: 4rem; }

main .hero p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  margin-right: 8rem;
  margin-bottom: 1rem;
  margin-left: 8rem; }

.redes h2 {
  color: #C7BBDD;
  font-family: 'Fredoka', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center; }

.redes div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .redes div a img {
    width: 300px;
    height: auto;
    border: #B4DDDC solid;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    transition-property: width;
    transition-duration: 1s; }
    .redes div a img:hover {
      width: 320px; }

/*--------main  servicios--------*/
main .servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: #B4DDDC;
  margin-top: 4rem;
  margin-bottom: 3rem; }

main .conociendopack h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #C7BBDD; }

main .conociendopack p {
  display: flex;
  justify-content: center;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

main .distinciondeservicios li {
  margin-left: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: none;
  font-family: 'Fredoka', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: #F7C6C6;
  display: flex;
  justify-content: left; }

main .distinciondeservicios p {
  display: flex;
  justify-content: left;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/*--------main noticias--------*/
main .info-poder h1 {
  margin-top: 3rem;
  font-family: 'Fredoka', sans-serif;
  font-size: 3.5rem;
  font-weight: 200;
  color: #B4DDDC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: underline 0.3rem; }

main .info-poder p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 2rem; }

main .diarios {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  main .diarios a img {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 200px;
    height: auto;
    border: solid;
    color: black;
    transition-property: width;
    transition-duration: 1s; }
    main .diarios a img:hover {
      width: 230px; }

/*--------main nosotras--------*/
main .perfil-contadoras {
  display: flex;
  justify-content: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  color: #B4DDDC;
  margin-top: 4rem;
  margin-bottom: 4rem; }

main section .perfil-contadoratroiani {
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  margin-left: 2rem;
  color: #F7C6C6; }

main section .separacion {
  display: flex;
  flex-direction: row; }
  main section .separacion div img {
    width: 250px;
    height: auto;
    margin-left: 2rem;
    box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
    -webkit-box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
    -moz-box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: linear; }
    main section .separacion div img:hover {
      width: 260px; }

main section p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1.3rem; }

main section .perfil-contadoralema {
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 2rem;
  color: #F7C6C6; }

main section .segundaseparacion {
  display: flex;
  flex-direction: row-reverse; }
  main section .segundaseparacion div img {
    width: 250px;
    height: auto;
    margin-right: 2rem;
    box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
    -webkit-box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
    -moz-box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: linear; }
    main section .segundaseparacion div img:hover {
      width: 260px; }

main section p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1.3rem; }

/*--------footer--------*/
.grid-container {
  margin-top: 2em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  border-style: solid;
  color: #B4DDDC;
  background-color: #C7BBDD;
  display: grid;
  grid-template-rows: 100px 200px 80px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "contacto contacto diseño" "informacion informacion diseño" "frase frase frase";
  grid-area: diseño; }
  .grid-container .grid-contacto {
    grid-area: contacto; }
    .grid-container .grid-contacto p {
      color: white;
      text-decoration: none;
      font-family: 'Fredoka', sans-serif;
      font-weight: 300;
      font-size: 2em;
      margin-left: 1em; }
  .grid-container .grid-info {
    grid-area: informacion; }
    .grid-container .grid-info li {
      margin-left: 1.5rem;
      font-style: normal;
      font-family: 'Fredoka', sans-serif;
      color: white;
      font-size: 1.5rem;
      margin-bottom: 2rem;
      list-style: circle;
      font-weight: 300; }
  .grid-container .grid-diseño {
    display: flex;
    justify-content: right;
    margin-right: 1em; }
  .grid-container img {
    width: 350px;
    height: 350px;
    margin-left: 4em; }

.grid-frase {
  grid-area: frase; }
  .grid-frase p {
    font-weight: 200;
    font-size: 1.5rem;
    font-family: 'Fredoka', sans-serif;
    color: white;
    display: flex;
    justify-content: end;
    padding-right: 1rem; }
