@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*---paleta de colores---*/
header .logoinicial {
  display: flex;
  justify-content: center; }

header img {
  width: 600px;
  height: auto; }

header .navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0%; }
  header .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 200; }

/*--------main index--------*/
main .hero h1 {
  color: #b4dddc;
  font-family: 'Fredoka', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  display: flex;
  justify-content: center;
  margin-top: 4rem; }

main .hero p {
  font-family: 'Fredoka', sans-serif;
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  margin-right: 8rem;
  margin-bottom: 1rem;
  margin-left: 8rem; }

.redes h2 {
  color: #C7BBDD;
  font-family: 'Fredoka', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center; }

.redes div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .redes div a img {
    width: 300px;
    height: auto;
    border: #b4dddc solid;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    transition-property: width;
    transition-duration: 1s; }
    .redes div a img:hover {
      width: 320px; }

/*--------main  servicios--------*/
main .presentacionservice {
  background-image: url("../image/pexels-cup-of-couple-6177607.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-size: 100%;
  background-position: bottom;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0%; }

main .servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: #b4dddc;
  padding-top: 4rem;
  margin-bottom: 2rem; }

main .conociendopack h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #C7BBDD; }

main .conociendopack p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: 'Fredoka', sans-serif;
  color: white;
  padding-left: 5em;
  padding-right: 5em; }

main .distinciondeservicios li {
  display: inline-block;
  border-radius: 10px;
  margin-left: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: none;
  font-family: 'Fredoka', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: white;
  background-color: #F7C6C6;
  padding: 0.1em; }

main .distinciondeservicios p {
  display: flex;
  justify-content: left;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/*--------main noticias--------*/
main .informativo {
  background-image: url("../image/pexels-pixabay-433333.jpg"); }

main .info-poder h1 {
  margin-top: 3rem;
  font-family: 'Fredoka', sans-serif;
  font-size: 3.5rem;
  font-weight: 200;
  color: #b4dddc;
  display: flex;
  flex-direction: row;
  justify-content: center; }

main .info-poder p {
  font-family: 'Fredoka', sans-serif;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 2rem; }

main .diarios {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  main .diarios a img {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 200px;
    height: auto;
    border: solid;
    color: black;
    transition-property: width;
    transition-duration: 1s; }
    main .diarios a img:hover {
      width: 230px; }

/*--------main nosotras--------*/
main .perfil-contadoras {
  display: flex;
  justify-content: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  color: #b4dddc;
  margin-top: 4rem;
  margin-bottom: 4rem; }

main section .perfil-contadoratroiani {
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  margin-left: 2rem;
  color: #F7C6C6; }

main section .separacion {
  display: flex;
  flex-direction: row; }
  main section .separacion div img {
    width: 250px;
    height: auto;
    margin-left: 2rem;
    box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
    -webkit-box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
    -moz-box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: linear; }
    main section .separacion div img:hover {
      width: 260px; }

main section p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1.3rem; }

main section .perfil-contadoralema {
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 2rem;
  color: #F7C6C6; }

main section .segundaseparacion {
  display: flex;
  flex-direction: row-reverse; }
  main section .segundaseparacion div img {
    width: 250px;
    height: auto;
    margin-right: 2rem;
    box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
    -webkit-box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
    -moz-box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: linear; }
    main section .segundaseparacion div img:hover {
      width: 260px; }

main section p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1.3rem; }

/*--------main condiciones--------*/
main .condiciones {
  color: #b4dddc;
  font-family: 'Fredoka', sans-serif;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 200;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

main .aclaracioneslegales h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: #F7C6C6; }

main .aclaracioneslegales h3 {
  display: flex;
  justify-content: left;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #C7BBDD; }

main .aclaracioneslegales p {
  display: flex;
  justify-content: left;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/*--------footer--------*/
.grid-container {
  margin-top: 2em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  border-style: solid;
  color: #b4dddc;
  background-color: #C7BBDD;
  display: grid;
  grid-template-rows: 100px 200px 80px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "contacto contacto diseño" "informacion informacion diseño" "frase frase frase";
  grid-area: diseño; }
  .grid-container .grid-contacto {
    grid-area: contacto; }
    .grid-container .grid-contacto p {
      color: white;
      text-decoration: none;
      font-family: 'Fredoka', sans-serif;
      font-weight: 300;
      font-size: 2em;
      margin-left: 1em; }
  .grid-container .grid-info {
    grid-area: informacion; }
    .grid-container .grid-info li {
      margin-left: 1.5rem;
      font-style: normal;
      font-family: 'Fredoka', sans-serif;
      color: white;
      font-size: 1.5rem;
      margin-bottom: 2rem;
      list-style: circle;
      font-weight: 300; }
  .grid-container .grid-diseño {
    display: flex;
    justify-content: right;
    margin-right: 1em; }
  .grid-container img {
    width: 350px;
    height: 350px;
    margin-left: 4em; }

.grid-frase {
  grid-area: frase; }
  .grid-frase p {
    font-weight: 200;
    font-size: 1.5rem;
    font-family: 'Fredoka', sans-serif;
    color: white;
    display: flex;
    justify-content: end;
    padding-right: 1rem; }

/*----------media querys header-------*/
@media screen and (max-width: 450px) {
  .logoinicial img {
    width: 300px;
    height: auto; } }

/*----------media querys index-------*/
@media screen and (max-width: 450px) {
  main .hero h1 {
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em; }
  main .hero p {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em; }
  .redes h2 {
    font-size: 2em;
    margin-top: 0.5em;
    padding: 0%;
    margin-left: 1em; }
  .redes div a img {
    width: 230px;
    height: auto;
    margin-bottom: 1em;
    transition-property: width;
    transition-duration: 1s; }
    .redes div a img:hover {
      width: 250px; } }

/*----------media querys servicios -------*/
@media screen and (max-width: 450px) {
  main .servicios {
    margin-left: 1em;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: 300;
    color: #b4dddc;
    margin-top: 1em;
    margin-bottom: 1em; }
  main section .conociendopack h2 {
    margin-bottom: 1rem;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    color: #F7C6C6; }
  main section .conociendopack p {
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  main section .distinciondeservicios li {
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: none;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    color: #F7C6C6;
    display: flex;
    justify-content: left; }
  main section .distinciondeservicios p {
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; } }

/*----------media querys footer-------*/
@media screen and (max-width: 450px) {
  .grid-container {
    grid-template-rows: 100px auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "contacto" "informacion" "diseño" "frase"; }
    .grid-container .grid-contacto {
      font-size: 0.8em; }
    .grid-container .grid-info ul li {
      font-size: 1em;
      margin-left: 1em; }
    .grid-container .grid-diseño {
      display: flex;
      justify-content: center; }
      .grid-container .grid-diseño img {
        width: 120px;
        height: auto;
        margin: 0%; }
    .grid-container .grid-frase p {
      display: flex;
      justify-content: center;
      font-size: 1em; } }

/*----------media querys noticias-------*/
@media screen and (max-width: 450px) {
  main .info-poder h1 {
    font-size: 25px;
    text-decoration: underline 0.5rem; }
  main .info-poder p {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem; }
  main .diarios {
    flex-direction: column;
    align-items: center; }
    main .diarios a img {
      width: 150px;
      height: auto;
      padding: 1rem;
      margin-bottom: 10px;
      transition-property: width;
      transition-duration: 1s; }
      main .diarios a img:hover {
        width: 170px; } }

/*----------media querys nosotras-------*/
@media screen and (max-width: 450px) {
  main .perfil-contadoras {
    font-size: 2em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1em;
    margin-right: 1em; }
  main section .perfil-contadoratroiani {
    font-size: 2em; }
  main section .separacion {
    flex-direction: column; }
    main section .separacion img {
      width: 230px;
      height: auto; }
    main section .separacion p {
      font-size: 1em; }
  main section .perfil-contadoralema {
    display: flex;
    justify-content: left;
    margin-left: 0.5em;
    font-size: 2em; }
  main section .segundaseparacion {
    flex-direction: column; }
  main section div img {
    width: 230px;
    height: auto;
    margin-left: 1rem; }
  main section div p {
    font-size: 1em; } }

/*----------media querys condiciones-------*/
@media screen and (max-width: 450px) {
  main .condiciones {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 2em;
    font-style: normal;
    font-weight: 200;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  main .aclaracioneslegales h2 {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
    color: #F7C6C6; }
  main .aclaracioneslegales h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    color: #C7BBDD; }
  main .aclaracioneslegales p {
    display: flex;
    justify-content: left;
    margin-left: 4em;
    margin-right: 4em;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; } }
