/*--------footer--------*/


footer {
    display: flex;
    justify-content: space-around;
    background-color: #212529;
    color: #fff;
    padding: 20px;
     text-align: center;
     padding-top: 1rem;
    font-family: 'Fredoka', sans-serif;
   


p {
    margin-bottom: 0%;
    img {
        margin-right: 10px;
    }
}

    a {
        color: #ecf0f1;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }

    .mail-asesoria {
        img {
            margin-right: 10px;
        }
    }



}