/*--------footer--------*/
.grid-container {
    margin-top: 2em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    border-style: solid;
    color: $colorprincipal;
    background-color: $colorsecundario;
    display: grid;
    grid-template-rows: 70px 100px 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "contacto diseño"
        "informacion indiseño"
        "frase frase ";

    .grid-contacto {
        grid-area: contacto;

        p {
            color: $colortexto;
            text-decoration: none;
            font-family: 'Fredoka', sans-serif;
            font-weight: 300;
            font-size: 2em;
            margin-left: 1em;
            margin-bottom: 0%;
        }
    }

    .grid-info {
        grid-area: informacion;

        li {
            margin-left: 1.5rem;
            font-style: normal;
            font-family: 'Fredoka', sans-serif;
            color:$colortexto;
            font-size: 1.5rem;
            list-style: circle;
            font-weight: 300;
        }
    }

    .grid-diseño {
        display: flex;
        justify-content: right;
        margin-right: 1em;
    }

    grid-area: diseño;

    img {
        width: 200px;
        height: 200px;
        margin-right: 3em;
        ;

    }
}

.grid-frase {
    grid-area: frase;

    p {
        font-weight: 200;
        font-size: 1.5rem;
        font-family: 'Fredoka', sans-serif;
        color: $colortexto;
        display: flex;
        justify-content: end;
        padding-right: 1rem;
    }
}