header {

    .logoinicial {
        display: flex;
        justify-content: center;
    }

    img {
        width: 600px;
        height: auto;
    }

    .navbar-nav {
        display: flex;
        justify-content:space-around;
        width: 100%;
        padding: 0%;


        .nav-item {


            .nav-link {

                font-size: 30px;
                font-family: 'Fredoka', sans-serif;
                font-weight: 200;
                transition: transform 0.3s ease;

                &:hover {
                    font-size: 33px;
                    transform: scale(1.1);
                    font-weight: 400;



                }
            }


        }

        &:hover {
            .nav-item {
                .nav-link {
                    font-size: 30px;
                }

            }

        }
    }
}