/*--------main index--------*/
main {
    .hero {
        h1 {
            color: $colorprincipal;
            font-family: 'Fredoka', sans-serif;
            font-size: 3rem;
            font-style: normal;
            font-weight: 300;
            display: flex;
            justify-content: center;
            margin-top: 4rem;
        }

        p {
            font-family: 'Fredoka', sans-serif;
            font-size: 1.3rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-top: 2rem;
            margin-right: 8rem;
            margin-bottom: 1rem;
            margin-left: 8rem;
            display: flex;
            align-items: center;
        }
    }
}

.redes {

    h2 {
        display: flex;
        justify-content: center;

        color: $colorsecundario;
        font-family: 'Fredoka', sans-serif;
        font-size: 3rem;
        font-style: normal;
        font-weight: 300;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        margin-top: 3rem;

    }

    div {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        a {
            img {
                width: 300px;
                height: auto;
                border: $colorprincipal solid;
                padding-top: 1rem;
                padding-left: 1rem;
                padding-bottom: 1rem;
                padding-right: 1rem;
                transition-property: width;
                transition-duration: 1s;

                &:hover {
                    width: 320px;
                }
            }
        }
    }

}

/*--------main  servicios--------*/
main {

    .presentacionservice {
        background-image: url("../image/pexels-cup-of-couple-6177607.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
        background-size: 100%;
        background-position: bottom;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, 0.3);
        position: sticky;
        top: 0%;

    }

    .servicios {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Fredoka', sans-serif;
        font-size: 2.5rem;
        font-weight: 300;
        color: $colorprincipal;
        padding-top: 4rem;
        margin-bottom: 2rem;
    }

    .conociendopack {
        h2 {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            font-family: 'Fredoka', sans-serif;
            font-size: 2.5rem;
            font-weight: 200;
            color: $colorsecundario;
        }

        p {
            text-align: center;
            font-size: 1.3rem;
            font-weight: 300;
            font-family: 'Fredoka', sans-serif;
            color: white;
            padding-left: 5em;
            padding-right: 5em;
        }
    }

    .distinciondeservicios {
        li {
            display: inline-block;
            border-radius: 10px;
            margin-left: 4rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            list-style: none;
            font-family: 'Fredoka', sans-serif;
            font-size: 2rem;
            font-weight: 200;
            color: white;
            background-color: #F7C6C6;
            padding: 0.1em;
        }

        p {
            display: flex;
            justify-content: left;
            margin-left: 4rem;
            margin-right: 4rem;
            font-size: 1.3rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}

/*--------main noticias--------*/

.informativo {
    background-image: url("../image/papel-arrugado.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 20px;


    .info-poder {
        h1 {
            padding-top: 3rem;
            font-family: 'Fredoka', sans-serif;
            font-size: 3.5rem;
            font-weight: 200;
            color: $colorprincipal;
            display: flex;
            flex-direction: row;
            justify-content: center;
            ;
        }

        p {
            font-family: 'Fredoka', sans-serif;
            font-size: 1.3rem;
            margin-top: 2rem;
            margin-left: 6rem;
            margin-right: 6rem;
            margin-bottom: 2rem;
            color: white;
        }
    }

    .diarios {
        display: inline-block;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        a {

            img {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;
                width: 200px;
                height: auto;
                border: solid;
                color: white;
                transition-property: width;
                transition-duration: 1s;

                &:hover {
                    width: 230px;
                }
            }

        }

    }
}


/*--------main nosotras--------*/

main {

    .perfil-contadoras {
        display: flex;
        justify-content: center;
        font-family: 'Fredoka', sans-serif;
        font-size: 3rem;
        font-weight: 300;
        color: $colorprincipal;
        margin-top: 3rem;
        margin-bottom: 2rem;


    }

    section {

        .perfil-contadoratroiani {
            font-family: 'Fredoka', sans-serif;
            font-size: 2.5rem;
            font-weight: 200;
            margin-left: 2rem;
            color: $colorterciario;
        }


        .separacion {
            display: flex;
            flex-direction: row;

            div {
                img {
                    width: 300px;
                    height: 300px;
                    margin-left: 2rem;
                    box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
                    -webkit-box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
                    -moz-box-shadow: 17px 19px 9px 0px rgba(48, 47, 58, 0.91);
                    transition-property: all;
                    transition-duration: 0.5s;
                    transition-timing-function: linear;

                    &:hover {
                        width: 310px;
                        height: 310px;
                    }
                }
            }

            p {
                font-family: 'Fredoka', sans-serif;
                font-size: 1.3rem;
                margin-right: 2rem;
                margin-left: 2rem;
                background-color: $colorsecundario;
                border-radius: 5px;
                padding: 3em;
                color: whitesmoke;
            }
        }
    }



    section {
        

        .perfil-contadoralema {
            display: flex;
            flex-direction: row-reverse;
            font-family: 'Fredoka', sans-serif;
            font-size: 2.5rem;
            font-weight: 200;
            margin-top: 1rem;
            margin-right: 2rem;
            color: $colorterciario;
        }

        .segundaseparacion {
            display: flex;
            flex-direction: row-reverse;

            div {


                img {
                    width: 300px;
                    height: 300px;
                    margin-right: 2rem;
                    box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
                    -webkit-box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
                    -moz-box-shadow: -20px 19px 9px 0px rgba(48, 47, 58, 0.91);
                    transition-property: all;
                    transition-duration: 0.5s;
                    transition-timing-function: linear;

                    &:hover {
                        width: 310px;
                        height: 310px;
                    }
                }
            }

            p {
                font-family: 'Fredoka', sans-serif;
                font-size: 1.3rem;
                margin-right: 2rem;
                margin-left: 2rem;
                background-color: $colorsecundario;
                border-radius: 5px;
                padding: 3em;
                color: whitesmoke;

            }


        }

    }

}


/*--------main condiciones--------*/
main {
    .condiciones {
        color: $colorprincipal;
        font-family: 'Fredoka', sans-serif;
        font-size: 3.4rem;
        font-style: normal;
        font-weight: 200;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .aclaracioneslegales {
        h2 {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            margin-top: 1rem;
            font-family: 'Fredoka', sans-serif;
            font-size: 2.5rem;
            font-weight: 300;
            color: $colorterciario;
        }

        h3 {
            display: flex;
            justify-content: left;
            margin-bottom: 1rem;
            margin-top: 1rem;
            margin-left: 2rem;
            font-family: 'Fredoka', sans-serif;
            font-size: 1.5em;
            font-weight: 300;
            color: $colorsecundario;
        }

        p {
            display: flex;
            justify-content: left;
            margin-left: 4rem;
            margin-right: 4rem;
            font-size: 1.3rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}