/*----------media querys header-------*/
@media screen and (max-width: 450px) {
    .logoinicial {
        img {
            width: 300px;
            height: auto;

        }


    }




}

/*----------media querys index-------*/
@media screen and (max-width: 450px) {
    main {

        .hero {
            h1 {
                font-size: 2em;
                margin-left: 1em;
                margin-right: 1em;
                margin-top: 1em;
            }

            p {
                margin-left: 1em;
                margin-right: 1em;
                font-size: 1em;

            }
        }

    }

    .redes {
        h2 {
            font-size: 2em;
            margin-top: 0.5em;
            padding: 0%;
            margin-left: 1em;
        }

        div {
            a {
                img {
                    width: 230px;
                    height: auto;
                    margin-bottom: 1em;
                    transition-property: width;
                    transition-duration: 1s;

                    &:hover {
                        width: 250px;
                    }
                }
            }
        }



    }
}

/*----------media querys servicios -------*/
@media screen and (max-width: 450px) {
    main {
        .servicios {
            margin-left: 1em;
            margin-right: auto;
            font-size: 1.5em;
            font-weight: 300;
            color: $colorprincipal;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        section {
            .conociendopack {
                h2 {
                    margin-bottom: 1rem;
                    font-family: 'Fredoka', sans-serif;
                    font-size: 1.5em;
                    font-weight: 200;
                    color: $colorterciario;
                }

                p {
                    display: flex;
                    justify-content: center;
                    margin-left: 4rem;
                    margin-right: 4rem;
                    font-size: 1em;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }



            }

            .distinciondeservicios {
                li {
                    margin-left: 4rem;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    list-style: none;
                    font-family: 'Fredoka', sans-serif;
                    font-size: 1.5em;
                    font-weight: 200;
                    color: $colorterciario;
                    display: flex;
                    justify-content: left
                }

                p {
                    margin-left: 4rem;
                    margin-right: 4rem;
                    font-size: 1em;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
            }
        }

    }
}

/*----------media querys footer-------*/
@media screen and (max-width: 450px) {
    .grid-container {
        grid-template-rows: 100px auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "contacto"
            "informacion"
            "diseño"
            "frase";

        .grid-contacto {
            font-size: 0.8em;
        }

        .grid-info {
            ul {
                li {
                    font-size: 1em;
                    margin-left: 1em;
                }
            }
        }

        .grid-diseño {
            display: flex;
            justify-content: center;

            img {
                width: 120px;
                height: auto;
                margin: 0%;
            }
        }

        .grid-frase {
            p {
                display: flex;
                justify-content: center;
                font-size: 1em;
            }
        }

    }
}

/*----------media querys noticias-------*/
@media screen and (max-width: 450px) {
    main {
        .info-poder {
            h1 {
                font-size: 25px;
                text-decoration: underline 0.5rem;
            }

            p {
                font-size: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }

        .diarios {
            flex-direction: column;
            align-items: center;

            a {
                img {
                    width: 150px;
                    height: auto;
                    padding: 1rem;
                    margin-bottom: 10px;
                    transition-property: width;
                    transition-duration: 1s;

                    &:hover {
                        width: 170px;
                    }

                }
            }
        }
    }
}

/*----------media querys nosotras-------*/
@media screen and (max-width: 450px) {
    main {
        .perfil-contadoras {
            font-size: 2em;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 1em;
            margin-right: 1em;
        }

        section {
            .perfil-contadoratroiani {
                font-size: 2em;
            }

            .separacion {
                flex-direction: column;

                img {
                    width: 230px;
                    height: auto;
                }

                p {
                    font-size: 1em;
                }
            }

        }

        section {
            .perfil-contadoralema {
                display: flex;
                justify-content: left;
                margin-left: 0.5em;
                font-size: 2em;
            }

            .segundaseparacion {
                flex-direction: column;
            }

            div {
                img {
                    width: 230px;
                    height: auto;
                    margin-left: 1rem;

                }


                p {
                    font-size: 1em;
                }

            }
        }
    }
}

/*----------media querys condiciones-------*/
@media screen and (max-width: 450px) {
    main {
        .condiciones {
            margin-left: 0.5em;
            margin-right: 0.5em;
            font-size: 2em;
            font-style: normal;
            font-weight: 200;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .aclaracioneslegales {
            h2 {
                margin-left: 0.5em;
                margin-right: 0.5em;
                font-size: 1.5em;
                margin-bottom: 1em;
                margin-top: 1em;
                font-family: 'Fredoka', sans-serif;
                font-weight: 300;
                color: $colorterciario;
            }

            h3 {
                margin-bottom: 1rem;
                margin-top: 1rem;
                margin-left: 2rem;
                font-family: 'Fredoka', sans-serif;
                font-size: 1.3em;
                font-weight: 300;
                color: $colorsecundario;
            }

            p {
                display: flex;
                justify-content: left;
                margin-left: 4em;
                margin-right: 4em;
                font-size: 1em;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
    }
}