/*----variablecolor----*/
$colorprincipal: #b4dddc;
$colorsecundario: #C7BBDD;
$colorterciario: #F7C6C6;
$colortexto: white;


/*----extend----*/
%flex-centrado {
    display: flex;
    justify-content: center;
}

%flex-izquierdo {
    display: flex;
    justify-content: left;
}